main{
    margin-top: 100px;
}
.title{
    width: 70%;
    border-radius: 20px;background-color: #625f20;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;padding-bottom: 12px;
}
.title h1{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #F7D748;
    font-size: 500%;
}
.encuesta{
    font-size:100%;
    width: 70%;
    border-radius: 20px;background-color:  #625f20;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;padding-left: 100px;padding-right: 100px;
    text-align: left; 
    color: #F7D748;
    padding-bottom: 12px;
}
.encuesta select{
    color: #F7D748;background-color: #604f05;padding-left: 20px;
}
.encuesta input{
    color:#F7D748;
    background-color: #604f05;
}
.encuesta textarea{background-color: #604f05}
#nombre{text-transform: capitalize;}
@media (max-width: 767px) {
    .encuesta{
        font-size:100%;
        width: 90%;padding-left: 10px;padding-right: 10px;}
        .title{
            width: 90%;}
}

  